@font-face {
    font-family: "Noto Serif JP";
    src: "https://fonts.google.com/noto/specimen/Noto+Serif+JP?query=noto+serif+jp";
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans JP";
    src: "https://fonts.google.com/noto/specimen/Noto+Sans+JP?query=noto+sans+jp";
    font-weight: normal;
    font-style: normal;
}